@import '../../../styles/Colors.css';

.Card {
  height: 100%;
  width: 100%;
  background-color: transparent;
  perspective: 500px;
  transition: all 0.3s;
}

.Card.Matched {
  opacity: 0;
}

.Content {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 0.8s;
  transform-style: preserve-3d;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.Content.Active {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
}

.Front,
.Back {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.Front {
  background-color: var(--blue3);
  border: 0.2rem solid var(--blue1);
}

.Back {
  background-color: var(--gray3);
  border: 0.2rem solid var(--blue1);
  transform: rotateY(180deg);
}

.Image {
  display: block;
  margin: auto;
  max-height: 100%;
  object-fit: contain;
}