:root {
  /* General */
  --red1: #d80000;
  --red2: #ff6e6e;
  --red3: #fddddd;
  --green1: #00d848;
  --green1: #5de78b;
  --green3: #befcd3;
  --blue1: #03045e;
  --blue2: #0077b6;
  --blue3: #00b4d8;
  --yellow1: #d8ca00;
  --yellow2: #f1fa75;
  --yellow3: #f8fcbe;
  --gray1: #6c757d;
  --gray2: #adb5bd;
  --gray3: #e9ecef;
}
