@import '../../styles/Colors.css';

.Container {
  border-radius: .5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  background-color: white;
}

.InputMenuItem {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  margin-bottom: 1rem;
}

.InputMenuItem label {
  display: flex;
  font-weight: bold;
  align-items: center;
}

.MenuItem {
  margin-bottom: 1rem;
}
.MenuItem:last-child {
  margin-bottom: 0;
}