@import '../../styles/Colors.css';

.Container {
  min-height: 100vh;
  background-color: var(--gray3);
}

.Content {
  position: absolute;
  left: 50%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.Heading {
  margin-top: 0rem;
  text-align: center;
  color: var(--blue1);
}

.Description {
  margin-bottom: 3rem;
  text-align: center;
}