@import '../../styles/Colors.css';

.Container {
  min-height: 100vh;
  background-color: var(--gray3);
}

.Content {
  position: absolute;
  left: 50%;
  top: 2rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.Heading {
  margin: 0 0 0.75rem 0;
  text-align: center;
}

.Description {
  margin: 0 0 1rem 0;
  text-align: center;
}