@import '../../styles/Colors.css';

.Container {
  min-height: 100vh;
  background-color: var(--gray3);
}

.Content {
  position: absolute;
  left: 50%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.Heading {
  margin: 0 0 0.75rem 0;
  text-align: center;
}

.Description {
  margin: 0 0 1rem 0;
  text-align: center;
}

.ScoresTable {
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.TableHeader,
.TableItem {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-width: 20rem;
  padding: 0.8rem 1rem;
}

.TableHeader {
  font-weight: bold;
  color: white;
  background-color: var(--blue1);
  border-radius: 0.4rem 0.4rem 0 0;
}

.TableItem {
  padding: 0.5rem 1rem;
}

.TableItem:nth-child(2n + 1) {
  background-color: var(--gray3);
}

.LeftColumn {
  text-align: left;
}

.CenterColumn {
  text-align: center;
}

.RightColumn {
  text-align: right;
}

.ButtonsPanel {
  margin-top: 1.25rem;
  grid-column: 1 / span 3;
}
