@import '../../styles/Colors.css';

.Container {
  min-height: 100vh;
  background-color: var(--gray3);
}

.Content {
  position: absolute;
  left: 50%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.Heading {
  margin-top: 0rem;
  text-align: center;
}

.Description {
  margin-bottom: 3rem;
  text-align: center;
}

.ScoresTable {
  padding: 2rem;
  border-radius: .5rem;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.TableHeader, .TableItem {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-width: 20rem;
  padding: 1rem;
}

.TableHeader {
  font-weight: bold;
  color: white;
  background-color: var(--blue1);
}

.TableItem {
  padding: .5rem 1rem;
}

.TableItem:nth-child(2n) {
  background-color: var(--gray3);
}

.LeftColumn {
  text-align: left;
}

.CenterColumn {
  text-align: center;
}

.RightColumn {
  text-align: right;
}

.ButtonsPanel {
  margin-top: 3rem;
  grid-column: 1 / span 3;

}