.Select {
  font-size: 1rem;
  padding-block: 3px 4px;
  border-radius: 4px;
  border: 1px solid var(--gray1);
  background-color: white;
}

.Select:hover {
  border: 1px solid black;
}

.Select:focus {
  border: 1px solid black;
  outline: 2px solid var(--gray2)
}