@import '../../../styles/Colors.css';

.Container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: white;
  background-color: var(--blue2);
  font-weight: bold;
}

.ProgressContainer {
  display: flex;
  justify-content: space-between;
  width: 12rem;
}

.Value {
  padding-left: 0.5rem;
  color: var(--yellow2);
}
